
<h1>Scary wolf game</h1>
<br/>
<h2>PLAY</h2>

<h2>{{players[0].name}}</h2>
<h2>{{players[0].state}}</h2>
<div class="row" class='pageContent'>

  <button *ngIf="currentState.statename==GameStateEnum.closeEyeTurn" (click)="StartGame(); SwitchTurn()" class="btn btn-primary selected">
        Start Game
  </button><br/>

  <label>{{currentState.statename}}</label>

  <div *ngIf="currentTurn.currentState==GameStateEnum.wolvesTurn">
    <label>{{currentState.instruction}}</label>
    <div *ngFor="let p of players">
      <button (click)="SelectPersonToKill(p.name); SwitchTurn()">{{p.name}}</button>
    </div>
  </div>

  <div *ngIf="currentTurn.currentState==GameStateEnum.wolvesTurn">
    la
  </div>


  </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
