<h1>Scary wolf game</h1>
<br/>
<h2>PLAY</h2>

<div class="row" class='pageContent'>

  <button *ngIf="currentTurn.currentState==GameStateEnum.closeEyeTurn" (click)="StartGame(); SwitchTurn()" class="btn btn-primary selected">
    Start Game
  </button>
  <br/>

  <div *ngIf="currentTurn.currentState==GameStateEnum.wolvesTurn">
    <label>{{currentTurn.CurrentInstruction()}}</label>
    <div *ngFor="let p of players">
      <button (click)="SelectPersonToKill(p.name); SwitchTurn()">{{p.name}}</button>
    </div>
  </div>

  <div *ngIf="currentTurn.currentState==GameStateEnum.witchTurn">
<!--    if witch have ability to rescue-->
<!--    <label *ngIf=""-->
<!--    <div *ngFor="let p of players">-->
<!--      <button (click)="SelectPersonToKill(p.name); SwitchTurn()">{{p.name}}</button>-->
<!--    </div>-->
  </div>

  <div *ngIf="currentTurn.currentState==GameStateEnum.prophetTurn">
    lalala
  </div>

  <div *ngIf="currentTurn.currentState==GameStateEnum.HunterTurn">
    lalala
  </div>

  <label>test: {{currentTurn.currentState}}</label><br>
  <label>test: {{currentTurn.CurrentInstruction()}}</label><br>


</div>
