
<h1>Scary wolf game</h1>
<br/>
<button type="button"  class="btn btn-primary" id="selectwitch"> Witch </button> <p id="witchselectedtext">Not selected</p>
<br/>

<p>Witch player can choose following rules for Witch</p>

<input type="checkbox" id="firstnightressurgance" name="scales" checked>
<label for="scales">Witch can use ressurgance on first night</label>

<br>

<input type="checkbox" id="usebothressurganceandpoision" name="scales" checked>
<label for="scales">Witch can ressurgance and poisin on the same night</label>

<br/>

<button type="button"  class="btn btn-primary"> Prophet </button>
<br/>
<button type="button" class="btn btn-primary"> Huntsman </button>
<br/>

<label>Villiages</label>
<input/>
<br/>

<label>Wolves - Normal</label>    <input/>
<br/>
<button type="button" class="btn btn-primary"> Wolf - Special skill 1 </button>
<br/>
<button type="button" class="btn btn-primary"> Wolf - Special skill 2 </button>

<br/>
<button type="button" class="btn btn-primary">Start Game</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">

<br/>