<h1>Scary wolf game</h1>
<br/>

<div class="row" class='pageContent'>

  <button *ngIf="!SelectedWitch" (click)="SelectCharacter('witch', true)" class="btn btn-primary notselected">
    Select Witch
  </button>
  <button *ngIf="SelectedWitch" (click)="SelectCharacter('witch', false)" class="btn btn-primary selected">
    Deselect Witch
  </button>
  <button *ngIf="!SelectedProphet" (click)="SelectCharacter('prophet', true)" class="btn btn-primary notselected">
    Select Prophet
  </button>
  <button *ngIf="SelectedProphet" (click)="SelectCharacter('prophet', false)" class="btn btn-primary selected">
    Deselect Prophet
  </button>
  <button *ngIf="!SelectedHunter" (click)="SelectCharacter('hunter', true)" class="btn btn-primary notselected">
    Select Hunter
  </button>
  <button *ngIf="SelectedHunter" (click)="SelectCharacter('hunter', false)" class="btn btn-primary selected">
    Deselect Hunter
  </button>
  <div class="btn btn-primary">
    <label>Villagers: {{ VillagerCounter }}</label>
    <button class="btn btn-primary selected" (click)="AddCharacter('villager', 1)">+</button>
    <button class="btn btn-primary selected" (click)="AddCharacter('villager', -1)">-</button>
  </div>
  <div class="btn btn-primary">
    <label>Wolves: {{ WolvesCounter }}</label>
    <button class="btn btn-primary selected" (click)="AddCharacter('wolf', 1)">+</button>
    <button class="btn btn-primary selected" (click)="AddCharacter('wolf', -1)">-</button>
  </div>
  <br/>
  <div class="">
    <label>Witch player can choose following rules for Witch</label>
    <br/>

    <input type="radio" name="RessurganceWitch" checked=checked (change)="RessuranceWitchRule = RessuranceWitchRules.canRessuranceOnFirstNight">
    <label for="scales">Witch can use ressurgance on herself on first night</label><br/>
    <input type="radio" name="RessurganceWitch" (change)="RessuranceWitchRule = RessuranceWitchRules.canRessurance">
    <label for="scales">Witch can ressurgance herself every night if still have ressurgance</label> <br/>
    <input type="radio" name="RessurganceWitch" (change)="RessuranceWitchRule = RessuranceWitchRules.canNotRessurance">
    <label for="scales">Witch can never ressurgance herself every night even still have ressurgance</label> <br/>
    <label>RessuranceWitchRule: {{RessuranceWitchRule}}</label><br/>


    <input type="radio" name="bothRessurgancePoisin" checked=checked (change)="bothRessurgancePoisin = !bothRessurgancePoisin"> <label for="scales">Witch
    cannot
    ressurgance and poisin on the same night</label> <br>
    <input type="radio" name="bothRessurgancePoisin" (change)="bothRessurgancePoisin = !bothRessurgancePoisin"> <label for="scales">Witch can
    ressurgance and poisin on the same night</label> <br>


    <label>bothRessurgancePoisin: {{bothRessurgancePoisin}}</label><br/>
  </div>


  <br/>
  <p *ngIf="warning">{{ warning}}</p>
  <button *ngIf="!warning" class="btn btn-primary selected">
    <a routerLink="/play" routerLinkActive="active" (click)="StartGame()">Start Game!</a>
  </button>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<button type="button" class="btn btn-primary"> Wolf - Special skill 1</button>
<br/>
<button type="button" class="btn btn-primary"> Wolf - Special skill 2</button>
